body {
    font-family: Roboto, RobotoDraft, helvetica, Arial, sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(60, 13, 82);
}

h2, h3, h4 {
    text-align: center;
    font-size: 30px;
    color: #4F2683;
}

h5 {
    font-size: 15px;
    color: #4F2683;
}

#courseAdder
{
    display: none;
}

button {
    border-radius:10px;
    border: 2px solid #4F2683;
    background-color: aquamarine;
    transition-duration: 0.4s;
}

button:hover {
    background-color: wheat;
}

.admin {
    background-color: rgb(221, 146, 240);
    border-radius: 25px;
    border: 2px solid #4F2683;
    padding: 20px;
}

input {
    width: 8ch;
}

span {
    text-align: center;
    display: block;
    padding-bottom: 15px;
}

li:nth-child(1) {
    margin-top: 80px;
}

li {
    margin-bottom: 30px;
    list-style: none;
    font-weight: bold;
}

.colours {
    display: inline-flex;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 41%;
}

.lec {
    background-color: rgb(133, 21, 7);
    width: 20px;
    height: 20px;
    border: 2px solid #4F2683;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.lab {
    background-color: rgb(19, 71, 6);
    width: 20px;
    height: 20px;
    border: 2px solid #4F2683;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.tut {
    background-color: rgb(7, 30, 134);
    width: 20px;
    height: 20px;
    border: 2px solid #4F2683;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

#getsched {
    margin-top: 5%;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(1) {
    background-color: #aa9f9f;
}

tr:nth-child(2) {
    background-color: #ffffff;
}

#desc {
    margin-top: 20px;
    font-weight: normal; 
    font-size: 15px;  
    text-align: left;
}

#mytable {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    background-color: rgb(231, 224, 224);
    margin-left: auto;
    margin-right: auto;
}

#tda0 {
    background-color: rgb(231, 224, 224);
}

#tdb0 {
    background-color: rgb(231, 224, 224);
}

#schedDisplay {
    border: rgb(50, 0, 97);
    border-width: 5pX;;
    border-radius: 22px;
    padding: 5pX;
    background-color: rgb(216, 196, 228);
}

#nameofS {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #5501c4;
}
